
.sensors-content{
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     margin-left: 14rem;
     margin-top: 1rem;
     margin-right: 15rem;
     .sensor-list-container{
        width: 100%;
     }
    .options-section{
        display: flex;
        flex-direction: row;
        width:100%;
        row-gap: 3rem;

        .add-icon{
            margin-left: auto;
        }
    }
}
.pointer{
    cursor: pointer;
}
