.black-button{
    background: black !important;
    text-transform: none !important;
    color: white !important;
}
.link-right{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    width: 100%;
}